.equal-row {
    flex: 1;
    width: 100%;
}

.unequal-row {
    width: 100%;
}

.equal-col {
    flex: 1;
    height: 100%;
}

.unequal-col {
    height: 100%;
}

.equilateral-triangle {
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

.five-point-star {
    clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
}