.equal-row {
    flex: 1;
    width: 100%;
}

.unequal-row {
    width: 100%;
}

.equal-col {
    flex: 1;
    height: 100%;
}

.unequal-col {
    height: 100%;
}

.point-right-symmetrical-triangle {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.five-point-star {
    clip-path: polygon(50% 0,
                    61.2256995% 34.54914999999999%,
                    97.5528258% 34.54915027053055%,
                    68.1635635% 55.90169965712409%,
                    79.3892626% 90.4508497%,
                    50% 69.09830099999999%,
                    20.6107374% 90.4508497%,
                    31.8364365% 55.90169965712409%,
                    2.447174199999999% 34.54915027053055%,
                    38.7743005% 34.54914999999999%);
}