.bahrain-container {
    position: relative;
}

.bahrain-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #C8102E;
    z-index: 0;
}

.bahrain-foreground-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.bahrain-foreground-band {
    height: 100%;
    width: 25%;
    background-color: white;
}

.bahrain-zig-zag {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.bahrain-triangle {
    flex: 1;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    background-color: white;
}