.bahrain-red {
    background-color: #C8102E;
}

.bahrain-foreground-band {
    height: 100%;
    width: 25%;
    background-color: white;
}

.bahrain-zig-zag {
    width: 15%;
    height: 100%;
}

.bahrain-triangle {
    flex: 1;
    width: 100%;
    background-color: white;
}