.benin-green-vertical-band {
    flex: 6;
    height: 100%;

    background-color: #008850;
}

.benin-bicolor-container {
    flex: 9;
}

.benin-yellow {
    background-color: #FCD20F;
}

.benin-red {
    background-color: #E90929;
}