.burkina-faso-red {
    background-color: #EF2B2D;
}

.burkina-faso-green {
    background-color: #009E49;
}

.burkina-faso-foreground {
    justify-content: center;
    align-items: center;
}

.burkina-faso-star {
    width: 2/9 * 100%;
    height: 2/6 * 100%;
    background-color: #FCD116;
}