.burkina-faso-red {
    background-color: #EF2B2D;
}

.burkina-faso-green {
    background-color: #009E49;
}

.burkina-faso-star {
    width: 2/9 * 100%;
    height: 1/3 * 100%;
    background-color: #FCD116;
}