.cameroon-green {
    background-color: #007A5E;
}

.cameroon-red {
    background-color: #CE1126;
}

.cameroon-yellow {
    background-color: #FCD116;
}

.cameroon-star {
    width: 2/9 * 100%;
    height: 1/3 * 100%;
}