.central-african-republic-blue {
    background-color: #003082FF;
}

.central-african-republic-white {
    background-color: white;
}

.central-african-republic-green {
    background-color: #289728FF;
}

.central-african-republic-yellow {
    background-color: #FFCE00FF;
}

.central-african-republic-bisecting-col {
    width: 15%;
    background-color: #D21034FF;
}

.central-african-republic-star {
    width: 2/15 * 100%;
    height: 2/9 * 100%;
    margin-left: 1/12 * 100%;
    margin-top: 1/72 * 100%;
}