.chile-red {
    background-color: #D52b1E;
}

.chile-white {
    background-color: white;
}

.chile-blue-square {
    width: 1/3 * 100%;
    height: 50%;
    background-color: #0039A6;
}

.chile-star {
    width: 50%;
    height: 50%;
}