.cuba-blue {
    background-color: #002A8F;
}

.cuba-white {
    background-color: white;
}

.cuba-triangle {
    width: 17.3205/40 * 100%;
    height: 100%;
    background-color: #CF142B;
}

.cuba-star {
    width: 3/20 * 100%;
    height: 30%;
    margin-left: 2.77/40 * 100%;
}