.denmark-red {
    background-color: #C60C30;
}

.denmark-horizontal-stripe {
    height: 1/7 * 100%;
}

.denmark-vertical-stripe {
    width: 2/17 * 100%;
    margin-left: 6/17 * 100%;
}

.denmark-white {
    background-color: white;
}