.estonia-container {
    display: flex;
    flex-direction: column;
}

.estonia-row {
    flex: 1;
    width: 100%;
}

.estonia-blue {
    background-color: #0073CF;
}

.estonia-black {
    background-color: black;
}

.estonia-white {
    background-color: white;
}