.finland-white {
    background-color: white;
}

.finland-sea-blue {
    background-color: #002F6C;
}

.finland-horizontal-stripe {
    height: 3/11 * 100%;
}

.finland-vertical-stripe {
    width: 1/6 * 100%;
    margin-left: 5/18 * 100%;
}