.gabon-container {
    display: flex;
    flex-direction: column;
}

.gabon-row {
    flex: 1;
    width: 100%;
}

.gabon-green {
    background-color: #009F60;
}

.gabon-gold {
    background-color: #FCD20E;
}

.gabon-blue {
    background-color: #3776C5;
}