.guinea-bissau-yellow {
    background-color: #FFCD00;
}

.guinea-bissau-green {
    background-color: #009639;
}

.guinea-bissau-red-band {
    width: 1/3 * 100%;
    height: 100%;
    background-color: #C8102E;
}

.guinea-bissau-star {
    width: 1/6 * 100%;
    height: 1/3 * 100%;
    background-color: black;
    margin-left: 1/12 * 100%;
}