.ireland-container {
    display: flex;
    flex-direction: row;
}

.ireland-column {
    flex: 1;
    height: 100%;
}

.ireland-green {
    background-color: #169B62;
}

.ireland-white {
    background-color: white;
}

.ireland-orange {
    background-color: #FF883E;
}