.laos-red {
    flex: 5;
    background-color: #CC0000FF;
}

.laos-blue {
    flex: 10;
    background-color: #002868FF;
}

.laos-disc {
    width: 4/15 * 100%;
    height: 40%;
    border-radius: 50%;

    background-color: white;
}