.niger-orange {
    background-color: #E05206;
}

.niger-white {
    background-color: white;
}

.niger-green {
    background-color: #0DB02B;
}

.niger-disc {
    width: 1/7 * 100%;
    height: 1/6 * 100%;
    border-radius: 50%;
}