.peru-container {
    display: flex;
    flex-direction: row;
}

.peru-column {
    flex: 1;
    height: 100%;
}

.peru-red {
    background-color: #D91023;
}

.peru-white {
    background-color: white;
}