.sierra-leone-container {
    display: flex;
    flex-direction: column;
}

.sierra-leone-row {
    flex: 1;
    width: 100%;
}

.sierra-leone-green {
    background-color: #1EB53A;
}

.sierra-leone-white {
    background-color: white;
}

.sierra-leone-blue {
    background-color: #0072C6;
}