.congo-blue {
    background-color: #007FFFFF;
}

.congo-star {
    width: 27%;
    height: 513/1500 * 100%;
    margin-left: 9/200 * 100%;
    margin-top: 103/1500 * 100%;
}

.congo-yellow {
    background-color: #F7D618FF;
}

.congo-stripe-container {
    transform: rotate(-31.75deg);
}

.congo-stripe {
    width: 200%;
}

.congo-red-stripe {
    height: 111/750 * 100%;
    background-color: #CE1021FF;
}

.congo-thin-stripe {
    height: 43/960 * 100%;
}