.the-czech-republic-white {
    background-color: white;
}

.the-czech-republic-red {
    background-color: #D7141A;
}

.the-czech-republic-triangle {
    width: 50%;
    height: 100%;
    background-color: #11457E;
}