.the-netherlands-container {
    display: flex;
    flex-direction: column;
}

.the-netherlands-row {
    flex: 1;
    width: 100%;
}

.the-netherlands-bright-vermillion {
    background-color: #AE1C28;
}

.the-netherlands-white {
    background-color: white;
}

.the-netherlands-cobalt-blue {
    background-color: #21468B;
}