.the-gambia-red {
    flex: 6;
    background-color: #CF0921;
}

.the-gambia-white {
    flex: 1;
    background-color: white;
}

.the-gambia-blue {
    flex: 4;
    background-color: #04158D;
}

.the-gambia-green {
    flex: 6;
    background-color: #377823;
}