.the-bahamas-aquamarine {
    background-color: #00778B;
}

.the-bahamas-gold {
    background-color: #FFC72C;
}

.the-bahamas-triangle {
    width: 519.62px;
    height: 100%;
    background-color: black;
}