.ukraine-container {
    display: flex;
    flex-direction: column;
}

.ukraine-row {
    flex: 1;
    width: 100%;
}

.ukraine-strong-azure {
    background-color: #0066CC;
}

.ukraine-yellow {
    background-color: #FFCC00;
}